/* This is a css rule */

body {
    background-color: rgb(33, 76, 26);
    border:10px solid black;
}
/*This is another css rule*/

h1 {color: rgb(45, 22, 150);}


/* Navigation */

nav {
      background-color: beige;
      padding:20px;



}
nav ul {padding-left: 0px;}

nav ul li { display: inline;}

/*